body {
  padding: 0;
  text-align: center;
  width: 98vw;
  background: url("../start-bkg.png") 0 0 no-repeat;
  overflow: hidden;
}

#game-intro {
  padding: 20px 0px;
}

.instruction-img {
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.startbtn-img {
  padding-top: 25px;
  padding-left: 10px;
}

.playagain-img {
  padding-top: 25px;
  padding-left: 25px;
}

#game-container {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  
  display: none;
  align-content: center;
  padding: 20px 0px; /* posicion del gato */
  overflow: hidden;
  position: relative;
  background-image: url(../city-bkg.png);
  background-size: cover;
/*animation se encarga de mover el bkg con slide, abajo se define slide */
  animation: slide 10s linear infinite;
}
/*animacion de background involves movement en el x axis para moverlo horizontalmente */
@keyframes slide { /* movement esta right to left */
  0% {
    background-position: 0 50%; 
  }
  /* 95% {
    background-position: 0 0;
  } */
  100% {
    background-position: -4095px 50%; /* negativo pq sale fuera del screen */
  }
}

#game-end {
  display: none;
  height: 80vh;
}

.logo-img {
  width: 500px;
  margin-bottom: 20px;
}

.start-button {
  background-color: #9e3158;
  padding: 1px 70px;
  border: 0;
  box-shadow: 0;
  border-radius: 10px;  /* rounded corners en boton */
  margin-bottom:20px;
  margin-top: 20px;  /* espacio entre boton a next element */
}

.gameover-gif {
  width: 200px;
}

.restart-button {
  background-color: #9e3158;
  padding: 2px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 10px;  /* rounded corners en boton */
  margin-bottom: 50px;  /* espacio entre boton a next element */
}

.end-message { 
  font-size: 20px;
  font-family: silom;
  color: black;
}

#stats-container {
  margin-right: 2%;
  font-family: silom;
  color: black;
  visibility: hidden;
}

#clock-container {
  margin-left: 2%;
  font-family: silom;
  color: black;
  visibility: hidden;
}

